* {
    margin: 0;
    box-sizing: border-box;
}

body {

        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
}

.nav-bar:not(.logo){
    display: flex;
    font-size: 18px;
}

.nav-bar li a {
    text-decoration: none;
    color: #e5e7eb;
}

.nav-bar >ul {
    list-style-type: none;
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 5%;
    margin: 20px;
}

.logo {
    flex-basis: 30%;
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

.section-1{
    background: #1f2937;
    max-height: 450px;
    min-height: 450px;
    width: 100%;
}

.hero-container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.header{
    width: 300px;
    color: #f9faf8;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img{
    width: 400px;
    height: 200px;
}

.first-button {
    background: #3882f6;
    color: #f9faf8;
    border: none;
    border-radius: 4px;
    width: 33%;
    height: 13%;
    margin-top: 10px;
    cursor: pointer;
}

button:hover {
    background: white;
    color: #3882f6;
    transition-duration: 0.6s;
}

.section-2 {
    text-align: center;
    margin-top: 40px;
    max-height: 400px;
    min-height: 400px;
    margin-bottom: 50px;
}
.info {
    font-size: 38px;
    font-weight: bold;
    color: #1f2937;
}
.turtle-images{
    display: flex;
    gap: 4%;
    justify-content: center;
}

.turtle-1, .turtle-2, .turtle-3, .turtle-4 {
    width: 250px;
    height: 250px;
    border: 4px solid #3382f6;
    border-radius: 5%;
    margin-top: 40px;
}

.captions {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.section-3{
    min-height: 400px;
    max-height: 400px;
    background: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.q-text{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    width: 950px;
    font-weight: 300;
}

.elon {
    margin: 200px 0 0 -200px;
    font-weight: bolder;
}

.section-4 {
    min-height: 400px;
    max-height: 400px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 900px;
    height: 150px;
    background: #3382f6;
    border-radius: 10px;
    border-style: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
}
 
.sign-text {
    margin-left: 100px;
}

.second-button{
    background: #3382f6;
    border: 1px solid white;
    width: 100px;
    height: 30px;
    margin: -30px 0 0 700px;
    border-radius: 5px;
}

.footer-style {
    max-height: 100px;
    min-height: 100px;
    background: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}